body {
      background: linear-gradient(180deg, #95cbeb, #68a1cf);
      font-family: "Century Gothic", sans-serif;
      }
      
      h1{
        font-family: "century gothic";
        color: rgba(49, 33, 192, 0);
        text-align: center;

        animation-name: titulo;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      @keyframes titulo{
        from{
            color: rgba(60, 23, 161, 0);
        }
        to{
            color: rgb(51, 35, 146);
        }
      }
      .imagen1{
        height: 200px;
        width: 200px;
        display: block;
        margin: auto;
        opacity: 0;
        animation: aparecer 3s 3s 1 forwards;
        }
      .imagen2{
        height: 200px;
        width: 300px;
        display: block;
        margin: auto;
        opacity: 0;
        animation: aparecer 3s 12s 1 forwards;
      }

      @keyframes aparecer{
          from{
          opacity: 0;
        }
        to{
          opacity: 1;
        }
        }
      h3{
        text-align: center;
        font-family: "century gothic", sans-serif;
        font-weight: bold;
        animation-name: texto;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
        animation-delay: 6s;
        }
      @keyframes texto {
        from{
          color: rgba(0,0,0,0);
        }
        to{
          color: rgba(0,0,0,1);
        }
      }
      .descripcion{
        text-align: center;
        font-family: "century gothic", sans-serif; 
        font-weight: bold;
        animation-name: descripcion;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
        animation-delay: 9s;
        }
        @keyframes descripcion{
          from{
          color: rgba(0,0,0,0);
        }
          to{
          color: rgba(0,0,0,1);
        }
        }

      .carrera{
        text-align: center;
        font-family: "century gothic", sans-serif;
        font-weight: bold;
        animation-name: carrera;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
        animation-delay: 15s;
        }
        @keyframes carrera{
          from{
          color: rgba(0,0,0,0);
          }
          to{
          color: rgba(0,0,0,1);
          }
        }