* {
    padding: 0px;
    margin: 0px;
}

.contenedor {
    width: 400px;
    height: 200px;
    background-color: black;
    border: 1px solid black;
    position: relative;
    /* Para centar el div */
    margin: 0 auto;
    /* para centara el div */

    overflow: hidden;
    /* muestra solo lo interior */
}

.cuadritoimg img {
    width: 150px;
    height: 150px;

    position: relative;
    top: 20px;
    left: 120px;
}

.cuadritoimg img {
    rotate: 5deg;
    animation: cohete 1s infinite alternate linear;
}

@keyframes cohete {

    /* Inicio */
    from {
        rotate: 5deg;
    }

    /* Final */
    to {
        rotate: 10deg;
    }

}

.cuadrito1 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 50px;
    /* Distancia de arriba para abajo */
    left: 160px;
    /* Moverse a la izquierda */

    animation: cuadrito1 2s infinite linear;

}

@keyframes cuadrito1 {

    /* Inicio */
    from {
        left: -100px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito6 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 70px;
    /* Distancia de arriba para abajo */
    left: 140px;
    /* Moverse a la izquierda */

    animation: cuadrito6 3s infinite linear;

}

@keyframes cuadrito6 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito2 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 20px;
    /* Distancia de arriba para abajo */
    left: 120px;
    /* Moverse a la izquierda */

    animation: cuadrito2 2s infinite linear;

}

@keyframes cuadrito2 {

    /* Inicio */
    from {
        left: -400px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito3 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 160px;
    /* Distancia de arriba para abajo */
    left: 170px;
    /* Moverse a la izquierda */

    animation: cuadrito3 3s infinite linear;

}

@keyframes cuadrito3 {

    /* Inicio */
    from {
        left: -200px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito4 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 130px;
    /* Distancia de arriba para abajo */
    left: 90px;
    /* Moverse a la izquierda */

    animation: cuadrito4 4s infinite linear;

}

@keyframes cuadrito4 {

    /* Inicio */
    from {
        left: -100px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito5 {
    width: 3px;
    height: 3px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 120px;
    /* Distancia de arriba para abajo */
    left: 80px;
    /* Moverse a la izquierda */

    animation: cuadrito5 5s infinite linear;

}

@keyframes cuadrito5 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito7 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 87px;
    /* Distancia de arriba para abajo */
    left: 300px;
    /* Moverse a la izquierda */

    animation: cuadrito7 9s infinite linear;

}

@keyframes cuadrito7 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito8 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 194px;
    /* Distancia de arriba para abajo */
    left: 400px;
    /* Moverse a la izquierda */

    animation: cuadrito8 6s infinite linear;

}

@keyframes cuadrito8 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito9 {
    width: 3px;
    height: 3px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 126px;
    /* Distancia de arriba para abajo */
    left: 330px;
    /* Moverse a la izquierda */

    animation: cuadrito9 2s infinite linear;

}

@keyframes cuadrito9 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito10 {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 110px;
    /* Distancia de arriba para abajo */
    left: 20px;
    /* Moverse a la izquierda */

    animation: cuadrito10 6s infinite linear;

}

@keyframes cuadrito10 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito11 {
    width: 3px;
    height: 3px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 43px;
    /* Distancia de arriba para abajo */
    left: 10px;
    /* Moverse a la izquierda */

    animation: cuadrito11 7s infinite linear;

}

@keyframes cuadrito12 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito11 {
    width: 5px;
    height: 2px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 43px;
    /* Distancia de arriba para abajo */
    left: 400px;
    /* Moverse a la izquierda */

    animation: cuadrito12 1s infinite linear;

}

@keyframes cuadrito13 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito11 {
    width: 7px;
    height: 3px;
    background-color: white;
    position: absolute;
    /* permite mover el div del contenedor */

    top: 43px;
    /* Distancia de arriba para abajo */
    left: 240px;
    /* Moverse a la izquierda */

    animation: cuadrito13 1s infinite linear;

}

@keyframes cuadrito13 {

    /* Inicio */
    from {
        left: -150px;
    }

    /* Final */
    to {
        left: 500px;
    }

}

.cuadrito img {
    width: 100px;
    height: 100px;
}